@font-face {
  font-family: 'GT-Walsheim-Pro-Regular';
  src: url('../../../assets/fonts/GT-Walsheim-Pro-Regular.woff2') format('woff2'); /* Super Modern Browsers */
}
@font-face {
  font-family: 'GT-Walsheim-Pro-Bold';
  src: url('../../../assets/fonts/GT-Walsheim-Pro-Bold.woff2') format('woff2'); /* Super Modern Browsers */
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: url('../../../assets/fonts/OpenSans-Bold.ttf') format('truetype'); /* Super Modern Browsers */
}
@font-face {
  font-family: 'OpenSans-Light';
  src: url('../../../assets/fonts/OpenSans-Light.ttf') format('truetype'); /* Super Modern Browsers */
}
@font-face {
  font-family: 'OpenSans-Regular';
  src: url('../../../assets/fonts/OpenSans-Regular.ttf') format('truetype'); /* Super Modern Browsers */
}